/*Base CSS*/
:root {
    --axis: calc(18pt * 3);
    --arrow: calc(var(--axis) + 4px);
    --arrow-color: #333333;
}
  
.expl-axis {
    background: linear-gradient(180deg, transparent var(--axis), var(--arrow-color) var(--axis));
    mask-image: linear-gradient(180deg, white var(--axis), transparent var(--axis)), url(../assets/arrow.svg);
    -webkit-mask-image: linear-gradient(180deg, white var(--axis), transparent var(--axis)), url(../assets/arrow.svg);
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-size: 100%, 60% auto;
    -webkit-mask-size: 100%, 60% auto;
    mask-position: 0 0, 50% var(--arrow);
    -webkit-mask-position: 0 0, 50% var(--arrow);
}
html {
    background-color: #bbbbbb;
    padding: 0px;
    scroll-behavior: smooth;
}

body {
    width: 80%;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: #dddddd;
    border-color: #eeeeee;
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
}

p {
    color: #444444;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
    line-height: 1;
    margin: 4pt;
}

p.value-description {
    text-indent: -16pt;
    margin-left: 20pt;
}

p.question {
    margin: 16pt auto;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    width: 70%;
    min-width: 500pt;
    min-height: 144pt;
    background-color: #eeeeee;
    padding: 16pt;
    border-radius: 16pt;
    font-size: 36pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0pt;
    margin-bottom: 0pt;
}

h2 {
    color: #333333;
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    margin-top: 12pt;
    margin-bottom: 0pt;
}

li {
    font-size: 16pt;
    text-indent: 16pt;
}

a {
    font-family: inherit;
}
.small_button, .small_button_off {
    background-color: #333;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 10%;
    min-width: 100pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 18pt;
    margin: -2px auto;
    cursor: pointer;
}

.small_button_off {
    background-color: #ddd;
    color: #888;
    border: 2px solid #888;
    cursor: not-allowed;
    margin: -4px auto;
}
.arrows {
    display: none;
}
li {
    font-size: 16pt;
    text-indent: 16pt;
}

img.center {
    display: block;
    margin: 1em auto;
    width: 50%;
    min-width: 500pt;
}
img.column {
    width: 45%;
    transition: transform 0.3s;
    padding: 1%;
}
  
img.column:hover {
    transform: scale(1.05);
}
p.expl-text-left, p.expl-text-right {
    display: block;
    font-size: 16pt;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

img.arrows {
    width: 60%;
    height: auto;
}

p.axis {
    display: block;
}

p.index-value {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    margin: 4px;
}
p.expl-text {
    font-size: 18pt;
}
  
p.value {
    font-size: 28pt;
    text-indent: -16pt;
    line-height: 2px;
    letter-spacing: 0.1em;
}
  
p.extras {
    text-align: center;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    background-color: #2196f3;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 8pt;
    color: white;
    padding: 8pt;
    width: 50%;
    min-width: 500pt;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24pt;
    margin: -2px auto;
    cursor: pointer;
}
div.center {
    border-radius: 8pt;
    padding: 8pt;
    color: white;
    width: 90%;
    max-width: 768pt;
    display: block;
    margin: auto;
    align-items: center;
    text-align: center;
}

div.axis {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.bar {
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    margin-top: 4pt;
    margin-bottom: 4pt;
    border-width: 4px;
    border-right-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-color: #222222;
    background-color: #eeeeee;
    display: block;
    width: 50%;
}
div.spacer {
    display: flex;
    padding: 2%;
}

div.text-wrapper {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    line-height: 36pt;
    color: #222222;
    display: inline-block;
}

div.axis_label {
    font-size: 16pt;
    font-family: 'Montserrat', sans-serif;
    color: #000;
}
  
div.block {
    display: inline-block;
    width: 22.5%;
    background-color: #CCC;
    border-radius: 12pt;
    margin: 6pt;
}
  
div.expl-block {
    width: 70%;
    display: block;
    text-align: center;
    align-items: center;
    margin: auto;
    background-color: #CCC;
    border-radius: 32px;
}
  
div.expl-left, div.expl-right {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    vertical-align: top;
    width: 37%;
    margin-left: auto;
    margin-right: auto;
}
  
div.expl-axis {
    display: inline-block;
    width: 20.9%;
    vertical-align: top;
    font-size: 20pt;
    letter-spacing: 0.1em;
    margin: 4pt;
    margin-top: -2px;
}

#banner {
    border-color: #444444;
    border-style: solid;
    border-width: 2px;
    border-radius: 8pt;
    display: block;
    margin: 8pt;
    margin-left: auto;
    margin-right: auto;
}

div.moderate {
    background-color: #006aa7;
    text-align: left;
    border-right-style: solid;
}

#val-moderate {
    color: #006aa7;
}

div.radical {
    background-color: #ff0000;
    text-align: right;
    border-left-style: solid;
}

#val-radical {
    color: #ff0000;
}

div.leftunity {
    background-color: #cd0000;
    text-align: left;
    border-right-style: solid;
}

#val-leftunity {
    color: #cd0000;
}

div.libunity {
    background-color: #ff6600;
    text-align: right;
    border-right-style: solid;
}

#val-libunity {
    color: #ff6600;
}

div.centralized {
    background-color: #ffe000;
    text-align: left;
    border-left-style: solid;
}

#val-centralized {
    color: #ffe000;
}

div.decentralized {
    background-color: #ffffff;
    text-align: right;
    border-left-style: solid;
}

#val-decentralized {
    color: #ffffff;
}

div.localist {
    background-color: #ff9800;
    text-align: left;
    border-right-style: solid;
}

#val-localist {
    color: #ff9800;
}

div.globalist {
    background-color: #03a9f4;
    text-align: right;
    border-left-style: solid;
}

#val-globalist {
    color: #03a9f4;
}

div.traditionalist {
    background-color: #6c9569;
    text-align: left;
    border-right-style: solid;
}

#val-traditionalist {
    color: #6c9569;
}

div.progressive {
    background-color: #ff42ff;
    text-align: right;
    border-right-style: solid;
}

#val-progressive {
    color: #ff42ff;
}

div.reform {
    background-color: #ffafe4;
    text-align: left;
    border-right-style: solid;
}

#val-reform {
    color: #ffafe4;
}

div.revolution {
    background-color: #890000;
    text-align: right;
    border-right-style: solid;
}

#val-revolution {
    color: #890000;
}

div.markets {
    background-color: #21b8e7;
    text-align: left;
    border-right-style: solid;
}

#val-markets {
    color: #21b8e7;
}

div.planning {
    background-color: #ff4900;
    text-align: right;
    border-right-style: solid;
}

#val-planning {
    color: #ff4900;
}

span.weight-300 {
    font-weight: 300;
}

/*Dark mode*/
@media(prefers-color-scheme: dark){
    :root {
        --arrow-color: #dddddd;
    }

    div.axis_label {
        color: #FFF;
    }

    div.block {
        background-color: #111;
    }

    div.expl-block {
        background-color: #333;
    }
    html {
        background-color: #000000;
        padding: 0px;
    }
    body {
        background-color: #3b3b3b;
        border-color: #505050;
    }
    p {
        color: #cccccc;
    }
    p.question {
        color: #cccccc;
        background-color: #000000;
    }
    h1 {
        color: #cccccc;
    }
    h2 {
        color: #cccccc;
    }
    .small_button, .small_button_off {
        background-color: #ddd;
        color: #000
    }

    .small_button_off {
        background-color: #333;
        color: #888;
        border: 2px solid #888;
    }
}
