head
    title LiberationValues
    link(href="./dist/style.css" rel="stylesheet" type="text/css")
    link(rel="icon" type="x-icon" href="./assets/icon.png")
    link(rel="shortcut icon" type="x-icon" href="./assets/icon.png")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="theme-color" content="#000000" data-react-helmet="true")
    meta(property="og:ttl" content="60")
    meta(property="og:title" content="LiberationValues")
    meta(property="og:type" content="website")
    meta(property="og:site_name" content="LiberationValues")
    meta(property="og:url" content="https://liberationvalues.github.io/")
    meta(property="og:description" content="LibertationValues is a political quiz aimed at anti-authoritarian leftists")
    meta(property="og:image" content="https://liberationvalues.github.io/assets/previcon.png")
    meta(property="og:image:width" content="1024")
    meta(property="og:image:height" content="1024")