@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto:ital,wght@0,400;1,700&display=swap');

$title-font: 'Montserrat', sans-serif;
$body-font: 'Roboto', sans-serif;

@mixin light-mode {
    --bg1: #fff;
    --bg2: #ddd;
    --bg3: #eee;
    --bg4: #ccc;
    --bg5: #bbb;
    --fg1: #000;
    --fg2: #111;
    --fg3: #222;
    --fg4: #333;
    --fg5: #444;
}

@mixin dark-mode {
    --bg1: #000;
    --bg2: #111;
    --bg3: #222;
    --bg4: #333;
    --bg5: #444;
    --fg1: #fff;
    --fg2: #ddd;
    --fg3: #eee;
    --fg4: #ccc;
    --fg5: #bbb;
}

:root,
:root[theme-override="light"] {
    @include light-mode;
}

:root[theme-override="dark"] {
    @include dark-mode;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-mode;
    }
}

html {
    background-color: var(--bg5);
    padding: 0;
    scroll-behavior: smooth;
    transition: .5s;
}

body {
    width: 80%;
    min-width: 835px;
    min-height: calc(100vh - 4em);
    margin: 0 auto;
    padding: 2em;
    background-color: var(--bg2);
    border-color: var(--bg3);
    border-left-style: solid;
    border-right-style: solid;
    border-width: 20px;
    text-align: center;
}

h1 {
    color: var(--fg3);
    font-family: $title-font;
    font-size: 72pt;
    text-align: center;
    line-height: 72pt;
    margin-top: 0;
    margin-bottom: 0;
}

h2 {
    color: var(--fg4);
    font-family: $title-font;
    font-size: 36pt;
    margin-top: 12pt;
    margin-bottom: 0;
}

div {
    font-family: $title-font;
}


p {
    font-family: $body-font;
    color: var(--fg5);
    font-size: 16px;
    line-height: 1;
    margin: 4pt;
}

a {
    font-family: inherit;
    text-decoration: none;

    &:visited,
    &:hover,
    &:active {
        text-decoration: none;
    }
}

li {
    font-size: 16pt;
    text-indent: 16pt;
}

button {
    display: block;
    font-family: $title-font;
    font-size: 24pt;
    text-align: center;
    background-color: #2196f3;
    color: var(--bg1);
    width: 50%;
    min-width: 500pt;
    padding: 8pt;
    border: none;
    border-radius: 8pt;
    margin: 6px auto;
    cursor: pointer;

    &.small-button {
        background-color: var(--fg4);
        color: var(--bg1);
        width: 10%;
        min-width: 100pt;
    }
}

label {
    font-family: $body-font;
    color: var(--fg1);
}

canvas {
    border-radius: 16pt;
}

//theme sliders
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;

    input {
        opacity: 0;
        width: 0;
        height: 0;
    }
}

.slider {
    inset: 0 0 0 0;
    position: absolute;
    background-color: var(--bg4);
    transition: 0.6s;
    border-radius: 34px;
    cursor: pointer;

    &::before {
        position: absolute;
        content: url('../assets/sun.svg');
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: var(--bg1);
        border-radius: 50%;
        transition: .5s ease-out;

        input:checked+& {
            content: url('../assets/moon.svg');
            transform: translateX(26px);
        }
    }
}


//index.html
.block {
    background-color: var(--bg4);
    border-radius: 12px;
    display: inline-block;
    margin: 6px;
    width: 22.5%;

    img {
        padding: 1%;
        transition: 0.3s;
        width: 45%;

        &:hover {
            transform: scale(1.05);
        }
    }

    .axis-label {
        color: var(--fg3);
    }
}

.expl-block {
    align-items: center;
    background-color: var(--bg4);
    border-radius: 32px;
    display: block;
    margin: auto;
    text-align: center;
    min-width: 70%;
    max-width: 1000px;
}

.spacer {
    display: flex;
    padding: 2%;
}

.expl {
    display: inline-block;
    width: 37%;
    margin-left: auto;
    margin-right: auto;

    p {
        font-family: $title-font;
        font-size: 30px;
    }

    .expl-text {
        display: block;
        font-size: 16pt;
        width: 90%;
        text-align: center;
        margin: auto;
    }

}

.index-value {
    font-size: 30px;
    margin: 4px;
}

.expl-axis {
    width: 20.9%;

    svg {
        max-width: 100%;

        path {
            fill: var(--fg3)
        }
    }

    .axis-name {
        font-size: 12pt;
    }
}

//instructions.html + quiz.html
.question {
    background-color: var(--bg3);
    color: var(--fg4);
    display: flex;
    font-family: $title-font;
    font-size: 36pt;
    justify-content: center;
    width: 70%;
    min-width: 500pt;
    min-height: 150pt;
    text-align: center;
    align-items: center;
    transition: 0.2s;
    padding: 16pt;
    border-radius: 16pt;
    margin: 16pt auto;
}

//results.html
.results {
    h2 {
        font-weight: 300;
    }
}

.axis {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;

    img {
        height: 128pt;
    }
}

.left-bar,
.right-bar {
    display: block;
    width: 50%;
    height: 36pt;
    line-height: 36pt;
    padding: 8pt;
    border-color: #222;
    border-style: solid none solid none;
    margin: 4pt 0 4pt 0;
}

.text-wrapper {
    font-size: 36pt;
    line-height: 36pt;
    color: #222;
}

.left-bar>div {
    text-align: start;
}

.right-bar>div {
    text-align: end;
}

//Custom.html
#custom-holder {
    width: 100%;
    text-align: center;


    #custom {
        margin: 0 auto;
        display: block;
    }

    .expl {
        color: var(--fg1);
        font-family: $title-font;
        font-weight: 300;
    }

    button {
        width: fit-content;
    }
}

//Github corner
.github-corner svg {
    fill: var(--fg2);
    color: var(--bg2);
}


.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}